In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
file_path = "./Resources/energy_data.csv"
energy_df = pd.read_csv(file_path)
energy_df.head()

,State,Year,Production.Coal,Consumption.Commercial.Coal,Consumption.Commercial.Distillate Fuel Oil,Consumption.Commercial.Geothermal,Consumption.Commercial.Hydropower,Consumption.Commercial.Kerosene,Consumption.Commercial.Petroleum,Consumption.Commercial.Natural Gas,...,Price.Industrial.Coal,Price.Industrial.Distillate Fuel Oil,Price.Industrial.Kerosene,Price.Industrial.Petroleum,Price.Industrial.Natural Gas,Price.Industrial.Other Petroleum Products,Price.Transportation.Coal,Price.Transportation.Distillate Fuel Oil,Price.Transportation.Petroleum,Price.Transportation.Natural Gas
0,Alaska,1960,11263,496,1562,0,0,0,5230,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alaska,1961,11497,496,1646,0,0,0,5304,122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alaska,1962,13588,593,1732,0,0,0,5251,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alaska,1963,13307,393,1868,0,0,0,5475,1632,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Alaska,1964,11622,306,2020,0,0,0,7242,1944,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
energy10_19_df = energy_df.loc[energy_df["Year"] >= 2010]
energy10_19_df.head()

,State,Year,Production.Coal,Consumption.Commercial.Coal,Consumption.Commercial.Distillate Fuel Oil,Consumption.Commercial.Geothermal,Consumption.Commercial.Hydropower,Consumption.Commercial.Kerosene,Consumption.Commercial.Petroleum,Consumption.Commercial.Natural Gas,...,Price.Industrial.Coal,Price.Industrial.Distillate Fuel Oil,Price.Industrial.Kerosene,Price.Industrial.Petroleum,Price.Industrial.Natural Gas,Price.Industrial.Other Petroleum Products,Price.Transportation.Coal,Price.Transportation.Distillate Fuel Oil,Price.Transportation.Petroleum,Price.Transportation.Natural Gas
50,Alaska,2010,33556,8533,11111,74,0,92,12575,15998,...,2.87,21.37,20.42,20.75,0.00,0.0,0.0,25.53,20.86,12.83
51,Alaska,2011,33524,9432,10060,88,0,104,11438,19647,...,3.65,29.58,27.22,26.09,0.00,0.0,0.0,30.94,27.20,9.76
52,Alaska,2012,31332,9201,8541,85,0,79,9806,20135,...,3.95,27.41,28.09,26.23,0.00,0.0,0.0,31.99,27.97,10.93
53,Alaska,2013,24917,8939,6743,85,0,27,7965,18711,...,4.72,27.40,27.39,26.00,8.15,0.0,0.0,31.64,27.06,8.33
54,Alaska,2014,22944,8316,7287,85,0,16,8418,17942,...,4.85,28.80,25.59,26.45,7.96,0.0,0.0,30.86,26.08,8.29

In [4]:
energy10_19_df.isnull().any()

State                                         False
Year                                          False
Production.Coal                               False
Consumption.Commercial.Coal                   False
Consumption.Commercial.Distillate Fuel Oil    False
                                              ...
Price.Industrial.Other Petroleum Products     False
Price.Transportation.Coal                     False
Price.Transportation.Distillate Fuel Oil      False
Price.Transportation.Petroleum                False
Price.Transportation.Natural Gas              False
Length: 84, dtype: bool

In [5]:
energy10_19_df.drop("Production.Coal", axis=1, inplace=True)
energy10_19_df.head()

C:\Users\Tony\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,State,Year,Consumption.Commercial.Coal,Consumption.Commercial.Distillate Fuel Oil,Consumption.Commercial.Geothermal,Consumption.Commercial.Hydropower,Consumption.Commercial.Kerosene,Consumption.Commercial.Petroleum,Consumption.Commercial.Natural Gas,Consumption.Commercial.Solar,...,Price.Industrial.Coal,Price.Industrial.Distillate Fuel Oil,Price.Industrial.Kerosene,Price.Industrial.Petroleum,Price.Industrial.Natural Gas,Price.Industrial.Other Petroleum Products,Price.Transportation.Coal,Price.Transportation.Distillate Fuel Oil,Price.Transportation.Petroleum,Price.Transportation.Natural Gas
50,Alaska,2010,8533,11111,74,0,92,12575,15998,0,...,2.87,21.37,20.42,20.75,0.00,0.0,0.0,25.53,20.86,12.83
51,Alaska,2011,9432,10060,88,0,104,11438,19647,0,...,3.65,29.58,27.22,26.09,0.00,0.0,0.0,30.94,27.20,9.76
52,Alaska,2012,9201,8541,85,0,79,9806,20135,0,...,3.95,27.41,28.09,26.23,0.00,0.0,0.0,31.99,27.97,10.93
53,Alaska,2013,8939,6743,85,0,27,7965,18711,0,...,4.72,27.40,27.39,26.00,8.15,0.0,0.0,31.64,27.06,8.33
54,Alaska,2014,8316,7287,85,0,16,8418,17942,0,...,4.85,28.80,25.59,26.45,7.96,0.0,0.0,30.86,26.08,8.29

In [6]:
# Create a df for commercial, electric power, industrial, and residential consumption
CEIR_energy_df = pd.DataFrame({"State": energy10_19_df["State"],
                               "Year": energy10_19_df["Year"],
                   "Commercial_Coal": energy10_19_df["Consumption.Commercial.Coal"],
                   "Commercial_Natural_Gas": energy10_19_df["Consumption.Commercial.Natural Gas"],
                   "Commercial_Petroleum": energy10_19_df["Consumption.Commercial.Petroleum"],
                   "Commercial_Distillate_Fuel_Oil": energy10_19_df["Consumption.Commercial.Distillate Fuel Oil"],
                   "Commercial_Kerosene": energy10_19_df["Consumption.Commercial.Kerosene"],
                   "Commercial_Wood": energy10_19_df["Consumption.Commercial.Wood"],
                   "Commercial_Solar": energy10_19_df["Consumption.Commercial.Solar"],
                   "Commercial_Wind": energy10_19_df["Consumption.Commercial.Wind"],
                   "Commercial_Geothermal": energy10_19_df["Consumption.Commercial.Geothermal"],
                   "Commercial_Hydropower": energy10_19_df["Consumption.Commercial.Hydropower"],
                       "Electric_Power_Coal": energy10_19_df["Consumption.Electric Power.Coal"],
                       "Electric_Power_Natural Gas": energy10_19_df["Consumption.Electric Power.Natural Gas"],
                       "Electric_Power_Distillate_Fuel_Oil": energy10_19_df["Consumption.Electric Power.Distillate Fuel Oil"],
                       "Electric_Power_Wood": energy10_19_df["Consumption.Electric Power.Wood"],
                           "Industrial_Coal": energy10_19_df["Consumption.Industrial.Coal"],
                           "Industrial_Natural_Gas": energy10_19_df["Consumption.Industrial.Natural Gas"],
                           "Industrial_Petroleum": energy10_19_df["Consumption.Industrial.Petroleum"],
                           "Industrial_Distillate_Fuel_Oil": energy10_19_df["Consumption.Industrial.Distillate Fuel Oil"],
                           "Industrial_Kerosene": energy10_19_df["Consumption.Industrial.Kerosene"],
                           "Industrial_Wood": energy10_19_df["Consumption.Industrial.Wood"],
                           "Industrial_Solar": energy10_19_df["Consumption.Industrial.Solar"],
                           "Industrial_Wind": energy10_19_df["Consumption.Industrial.Wind"],
                           "Industrial_Geothermal": energy10_19_df["Consumption.Industrial.Geothermal"],
                           "Industrial_Hydropower": energy10_19_df["Consumption.Industrial.Hydropower"],
                                    "Residential_Coal": energy10_19_df["Consumption.Residential.Coal"],
                                    "Residential_Natural_Gas": energy10_19_df["Consumption.Residential.Natural Gas"],
                                    "Residential_Petroleum": energy10_19_df["Consumption.Residential.Petroleum"],
                                    "Residential_Distillate_Fuel_Oil": energy10_19_df["Consumption.Residential.Distillate Fuel Oil"],
                                    "Residential_Kerosene": energy10_19_df["Consumption.Residential.Kerosene"],
                                    "Residential_Wood": energy10_19_df["Consumption.Residential.Wood"]})
CEIR_energy_df.head()

,State,Year,Commercial_Coal,Commercial_Natural_Gas,Commercial_Petroleum,Commercial_Distillate_Fuel_Oil,Commercial_Kerosene,Commercial_Wood,Commercial_Solar,Commercial_Wind,...,Industrial_Solar,Industrial_Wind,Industrial_Geothermal,Industrial_Hydropower,Residential_Coal,Residential_Natural_Gas,Residential_Petroleum,Residential_Distillate_Fuel_Oil,Residential_Kerosene,Residential_Wood
50,Alaska,2010,8533,15998,12575,11111,92,299,0,0,...,0,0,0,0,0,18806,9359,8687,83,2302
51,Alaska,2011,9432,19647,11438,10060,104,288,0,0,...,0,0,0,0,0,20521,8682,8040,142,2232
52,Alaska,2012,9201,20135,9806,8541,79,252,0,0,...,0,0,0,0,0,21634,8362,7819,41,1865
53,Alaska,2013,8939,18711,7965,6743,27,292,0,0,...,0,0,0,0,0,19233,7312,6917,27,2434
54,Alaska,2014,8316,17942,8418,7287,16,305,0,0,...,0,0,0,0,0,17751,7075,6654,33,2463

In [7]:
CEIR_energy_df.to_csv('./Resources/CEIR_energy.csv', index=False)

In [8]:
CEIR_energy_df.to_json('./Resources/CEIR_energy.json', indent = 1, orient='records')